<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.light.mapper.LgBonusLevelMapper" >
  <resultMap id="BaseResultMap" type="com.light.pojo.LgBonusLevel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bonus_rate" property="bonusRate" jdbcType="INTEGER" />
    <result column="bonus_level_name" property="bonusLevelName" jdbcType="VARCHAR" />
    <result column="bonus_level_money" property="bonusLevelMoney" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bonus_rate, bonus_level_name, bonus_level_money
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.light.pojo.LgBonusLevelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lg_bonus_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lg_bonus_level
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lg_bonus_level
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.light.pojo.LgBonusLevelExample" >
    delete from lg_bonus_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.light.pojo.LgBonusLevel" >
    insert into lg_bonus_level (id, bonus_rate, bonus_level_name, 
      bonus_level_money)
    values (#{id,jdbcType=INTEGER}, #{bonusRate,jdbcType=INTEGER}, #{bonusLevelName,jdbcType=VARCHAR}, 
      #{bonusLevelMoney,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.light.pojo.LgBonusLevel" >
    insert into lg_bonus_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bonusRate != null" >
        bonus_rate,
      </if>
      <if test="bonusLevelName != null" >
        bonus_level_name,
      </if>
      <if test="bonusLevelMoney != null" >
        bonus_level_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bonusRate != null" >
        #{bonusRate,jdbcType=INTEGER},
      </if>
      <if test="bonusLevelName != null" >
        #{bonusLevelName,jdbcType=VARCHAR},
      </if>
      <if test="bonusLevelMoney != null" >
        #{bonusLevelMoney,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.light.pojo.LgBonusLevelExample" resultType="java.lang.Integer" >
    select count(*) from lg_bonus_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lg_bonus_level
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bonusRate != null" >
        bonus_rate = #{record.bonusRate,jdbcType=INTEGER},
      </if>
      <if test="record.bonusLevelName != null" >
        bonus_level_name = #{record.bonusLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.bonusLevelMoney != null" >
        bonus_level_money = #{record.bonusLevelMoney,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lg_bonus_level
    set id = #{record.id,jdbcType=INTEGER},
      bonus_rate = #{record.bonusRate,jdbcType=INTEGER},
      bonus_level_name = #{record.bonusLevelName,jdbcType=VARCHAR},
      bonus_level_money = #{record.bonusLevelMoney,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.light.pojo.LgBonusLevel" >
    update lg_bonus_level
    <set >
      <if test="bonusRate != null" >
        bonus_rate = #{bonusRate,jdbcType=INTEGER},
      </if>
      <if test="bonusLevelName != null" >
        bonus_level_name = #{bonusLevelName,jdbcType=VARCHAR},
      </if>
      <if test="bonusLevelMoney != null" >
        bonus_level_money = #{bonusLevelMoney,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.light.pojo.LgBonusLevel" >
    update lg_bonus_level
    set bonus_rate = #{bonusRate,jdbcType=INTEGER},
      bonus_level_name = #{bonusLevelName,jdbcType=VARCHAR},
      bonus_level_money = #{bonusLevelMoney,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>