<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.light.mapper.LgMainBusinessMapper" >
  <resultMap id="BaseResultMap" type="com.light.pojo.LgMainBusiness" >
    <id column="mbid" property="mbid" jdbcType="INTEGER" />
    <result column="main_business_name" property="mainBusinessName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mbid, main_business_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.light.pojo.LgMainBusinessExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lg_main_business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lg_main_business
    where mbid = #{mbid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lg_main_business
    where mbid = #{mbid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.light.pojo.LgMainBusinessExample" >
    delete from lg_main_business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.light.pojo.LgMainBusiness" >
    insert into lg_main_business (mbid, main_business_name)
    values (#{mbid,jdbcType=INTEGER}, #{mainBusinessName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.light.pojo.LgMainBusiness" >
    insert into lg_main_business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mbid != null" >
        mbid,
      </if>
      <if test="mainBusinessName != null" >
        main_business_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mbid != null" >
        #{mbid,jdbcType=INTEGER},
      </if>
      <if test="mainBusinessName != null" >
        #{mainBusinessName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.light.pojo.LgMainBusinessExample" resultType="java.lang.Integer" >
    select count(*) from lg_main_business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lg_main_business
    <set >
      <if test="record.mbid != null" >
        mbid = #{record.mbid,jdbcType=INTEGER},
      </if>
      <if test="record.mainBusinessName != null" >
        main_business_name = #{record.mainBusinessName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lg_main_business
    set mbid = #{record.mbid,jdbcType=INTEGER},
      main_business_name = #{record.mainBusinessName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.light.pojo.LgMainBusiness" >
    update lg_main_business
    <set >
      <if test="mainBusinessName != null" >
        main_business_name = #{mainBusinessName,jdbcType=VARCHAR},
      </if>
    </set>
    where mbid = #{mbid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.light.pojo.LgMainBusiness" >
    update lg_main_business
    set main_business_name = #{mainBusinessName,jdbcType=VARCHAR}
    where mbid = #{mbid,jdbcType=INTEGER}
  </update>
</mapper>