.caseInfo_body {
    background: #f2f3f7;
}

.caseInfo_body .opbox {
    padding-top: 2px;
}

.caseInfo_body .opbox .oplis {
    line-height: 40px;
    text-align: center;
    width: 33%;
    background: #fff;
    font-size: 12px;
}

.caseInfo_body .opbox .oplis.cur {
    color: #86db31;
}

.caseInfo_body .opbox .oplis:not(:last-child) {
    border-right: 1px solid #f2f3f7;
}

.caseInfo_body .caseList {
    margin-top: 10px;
}

.caseInfo_body .stalllist {
    margin-top: 0;
    padding-top: 10px;
}

.caseList .clis {
    padding: 20px 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
    background: #fff;
    color: #8f8f8f;
    font-size: 12px;
}

.stalllist .clis .sbtn {
    border: 0;
    padding: 5px 10px;
    margin-right: 10px;
    color: #fff;
    background: #fda805;
    border-radius: 4px;
}

.stalllist .clis .addbtn {
    margin-top: 10px;
    text-align: right;
}

.caseList .clis h3 {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
}

.caseList .clis h3 span {
    float: right;
    font-size: 12px;
    font-weight: 100;
}

.caseList .clis p {
    line-height: 20px;
}

.caseList .clis .showstall {
    text-align: right;
}

.caseList .clis .showstall .gs {
    border: none;
    padding: 5px;
    color: #fff;
    background: #fda805;
    border-radius: 4px;
}

.caseList .clis .showstall .gs:not(:last-child) {
    margin-right: 10px;
}

.push {
    color: #86db31;
}

.apply-success {
    color: #fda80f;
}

.apply-error {
    color: #fb4448;
}

.dialog ul {
    height: inherit;
}

.dlis {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #000;
}

.dialog .dialogCtn {
    height: auto;
}

.dialog .body {
    height: auto;
    padding: 0;
}

.dialog .inputbox {
    padding: 10px;
    text-align: center;
}

.dialog .inputbox input {
    width: 80%;
    padding: 5px;
}