.login_body {
    height: inherit;
    background: #f2f3f7;
}

.login_body .loginBox {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -91px;
}

.login_body .loginBox .com_i {
    position: absolute;
    width: 16px;
    height: 22px;
    top: 50%;
    left: 4%;
    margin-top: -11px;
}

.login_body .loginBox .com_i+input {
    padding: 6px 12%;
}

.login_body .loginBox .loginli a {
    color: #000;
    font-size: 12px;
}

.loginBox .btn-y {
    width: 100%;
    background: #fe8f02;
    color: #fff;
}