    .proManager_body .pmBox {
        padding: 10px 0;
    }
    
    .pmBox .mlis {
        width: 90%;
        margin: 10px auto;
    }
    
    .pmBox .mlis p {
        padding: 5px 10px;
        background: #fff;
        line-height: 34px;
    }
    
    .pmBox .mlis p i {
        float: right;
        color: #fda80f;
        font-size: 24px;
    }
    
    .pmBox .pmCtn {
        background: #f2f3f7;
        padding: 10px 0;
        font-size: 12px;
        color: #929397;
    }
    
    .pmBox .pmCtn li {
        border-bottom: 1px solid #c8c9cd;
    }
    
    .pmBox .saveBox {
        text-align: center;
    }
    
    .pmBox .btnSave {
        width: 120px;
    }
    
    .pmBox .pmCtn p {
        background: transparent;
        line-height: 20px;
    }
    
    .pmBox .pmCtn .isdone {
        position: relative;
        top: 6px;
    }
    
    .pmBox .pmCtn label {
        font-weight: 100;
    }
    
    .pmBox .pmCtn .cbk {
        vertical-align: sub;
    }