.pushMarket_body .lvInfo {
    padding: 10px;
}

.lvInfo .infobox {
    background: #fff;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.lvInfo h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
    border-bottom: 1px solid #f2f3f7;
}

.lvInfo .lvType {
    margin: 10px 0;
}

.lvType label {
    font-size: 12px;
    font-weight: 100;
}

.lvType .tcbk {
    vertical-align: sub;
    margin-right: 10px;
}

input[type=file] {
    display: none;
}

.comlist {
    margin-top: 10px;
}

.comlist .clis {
    background: #fff;
    margin: 0 auto;
    padding: 10px;
}

.comlist .clis:not(:last-child) {
    /*margin-bottom: 10px;*/
    border-bottom: 1px solid #f2f3f7;
}

.comlist .clis .ititle {
    font-size: 12px;
    color: #b2b2b2;
    line-height: 40px;
}

.comlist .clis .ititle .uinfo {
    display: inline-block;
}

.comlist .clis .ititle p.name {
    float: none;
    display: inline-block;
}

.comlist .clis .ititle p {
    float: right;
}

.comlist .clis .ititle p a {
    color: #fda80f;
}

.comlist .clis .ititle img {
    vertical-align: middle;
    max-width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.clis .ctn {
    margin: 10px 0;
}

.clis .footerbtn {
    font-size: 12px;
    color: #b2b2b2;
    line-height: 18px;
}

.clis .footerbtn span {
    float: right;
}

.clis .footerbtn .comment {
    margin-right: 10px;
    font-size: 14px;
}

.bbsInfo_body .lvbox {
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #f2f3f7;
}

.lv-ctn .lv-title {
    font-weight: 600;
}

.lv-ctn .lv-text {
    font-size: 12px;
    margin-top: 10px;
    line-height: 24px;
    color: #999;
}

.lvbox .lv-user {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
}

.lv-user .uinfo {
    display: inline-block;
}

.lv-user img {
    max-width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.lv-user p {
    display: inline;
    margin: 0 10px;
}

.lv-user p.name {
    margin: 0;
}

.lv-user .icon-comment1 {
    vertical-align: middle;
    margin-right: 5px;
}

.lv-islike .ilis {
    width: 50%;
    text-align: center;
    padding: 10px 0;
    color: #999;
}

.lv-islike .ilis:not(:last-child) {
    border-right: 1px solid #f2f3f7;
}