.perInfo_body {
    background: #f1f3f6;
}

.perInfo_body .s_info {
    padding: 20px;
    background: #fff;
}

.perInfo_body .s_info img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}

.perInfo_body .s_info p {
    line-height: 24px;
    margin: 10px 0;
}

.perInfo_body .s_info p.name {
    font-size: 16px;
}

.perInfo_body .s_info p.name span {
    font-size: 12px;
    display: inline-block;
    line-height: 25px;
    margin-left: 10px;
    color: #666;
}

.perInfo_body .s_info p.lv {
    font-size: 12px;
    color: #666;
}

.perInfo_body .s_info p.lv span {
    color: #fda80f;
}

.s_oplist {
    background: #fff;
    margin-top: 10px;
}

.s_oplist .oplis {
    width: 50%;
    /*height: 90px;*/
    /*line-height: 45px;*/
    font-size: 16px;
    border-bottom: 1px solid #f1f2f3;
    padding: 5px 0;
}

.s_oplist .sylis {
    width: 100%;
}

.s_oplist .oplis:not(:last-child) {
    border-right: 2px solid #f1f3f6;
}

.oplis i {
    color: #fda80f;
    font-size: 40px;
}

.com_money {
    /*width: 100px;*/
    /*height: 100px;*/
    /*top: 50%;*/
    /*margin-top: -50px;*/
    color: #fda80f;
    font-size: 12px;
    word-break: break-all;
}

.com_money p {
    /*font-size: 16px;*/
}

.com_money span {
    color: #000;
}

.rmoney {
    right: 0
}

.perInfo_body .hasMenu {
    background: #fff;
    margin-top: 10px;
}

.perInfo_body .hasMenu .hlis {
    line-height: 40px;
    border-bottom: 1px solid #f1f3f6;
    padding: 0 10px;
    width: 50%;
    float: left;
    text-align: center;
}

.perInfo_body .hasMenu .hlis i {
    font-size: 32px;
    display: inline-block;
    margin-top: 5px;
    color: #fda80f;
}

.perInfo_body .exit {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

.dialog1 .dlis,
.dialog1 .clis {
    text-align: center;
    line-height: 45px;
}

.dialog1 .dlis:not(:last-child),
.dialog1 .clis:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.showCtn .dateSelect input {
    width: 120px;
}

.showCtn {
    border: 0;
    padding: 10px 5px;
}

.showCtn .showsytime {
    padding: 10px 5px;
    border: 0;
    color: #fff;
    background: #fda80f;
}