.table-box {
    margin: 0 10px;
    background: #fff;
    padding: 5px;
}

.table-box .ipts {
    border: 0;
    height: 25px;
    padding: 0 5px;
}

.table-box .table {
    margin-bottom: 0;
}

.table tr td {
    color: #999;
    font-size: 12px;
}

.table tr td:first-child {
    color: #000;
}