<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.light.mapper.custom.LgProjectCustomMapper" >

  <select id="getProjectMarketName" resultType="java.lang.String">
    	select market_name from lg_project where pid=#{pid}
  </select>
  <select id="getMarketNameByName" resultType="java.lang.Integer">
    	select count(*) from lg_project where market_name=#{name}
  </select>
    <select id="getProjectListByEmployeeId" parameterType="java.util.Map" resultType="com.light.pojo.LgProject">
    	SELECT
		  b.pid AS pid,
		  b.create_time AS createTime,
		  b.market_name as marketName,
		  b.customer_name as customerName,
		  b.real_contact_money as realContactMoney,
		  b.process_id as processId
		  
		FROM
			lg_employee_project AS a,
			lg_project AS b
		<where>
			b.pid = a.project_id
		 <if test="employeeId != null">
		AND a.employee_id = #{employeeId}  
			     </if>
		
		<if test="status != null">
		AND b.status = #{status}
			     </if>
		
		<if test="processId != null">
		AND b.process_id = #{processId}
			    </if>
		 </where>
		
  </select>
    <select id="getProjectProcessByProjectId" resultType="java.lang.Integer" 
      parameterType="java.lang.Integer">
    	select process_id from lg_project where pid = #{projectId}
  </select>
  
    <select id="getProcessNameById" resultType="java.lang.String" 
      parameterType="java.lang.Integer">
    	select name from lg_project_process where id=#{id}
  </select>
  
   <select id="getCountFromEPByPorjectId" resultType="java.lang.Integer" 
      parameterType="java.lang.Integer">
    	select count(*) from lg_employee_project where project_id = #{projectId} 
  </select>
  
     <select id="getProjectIdByMarketName" resultType="java.lang.Integer" 
      parameterType="java.lang.String">
    	select pid from lg_project where market_name like #{marketName}
 	 </select>
  
       <select id="getAllProjectMarketName" resultType="com.light.dto.ProjectMarketnameBean" 
     parameterType="java.util.Map">
    	select pid, market_name as marketName from lg_project 
    	<where>
			status <![CDATA[!=]]> 5
		 <if test="marketName != null">
			AND market_name like #{marketName}  
			     </if>
		
		 </where>
    	
 	 </select>
  
</mapper>