<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.light.mapper.custom.LgReimburseCustomMapper" >

  <select id="countNumByExtraId" resultType="java.lang.Integer">
    	select count(*) from lg_reimburse where type_id =#{id}
  </select>
  
    <select id="getPartnerNameById" resultType="java.lang.String">
    	select cooperate_name from lg_partner where pid =#{id}
  </select>
  
</mapper>